@font-face {
  font-family: 'Ami-Regular';
  src: url('../fonts/Ami-Regular.woff2') format('woff2'),
       url('../fonts/Ami-Regular.woff') format('woff'),
       url('../fonts/Ami-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ami-Regular', sans-serif;
  height: 100%; 
  overflow: hidden; /* Чтобы фоновое изображение не прокручивалось */
  animation: fadeInBody 1s ease-out forwards;
}

/* Анимация для появления фона */
@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Анимация для появления текста */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Начинаем с немного смещенной позиции */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Возвращаем в нормальное положение */
  }
}

/* Анимация для кнопки */
@keyframes fadeInButton {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Фоновый блок с анимацией */
.background {
  background-image: url('../img/main.webp'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  opacity: 0; /* Начинаем с невидимого фона */
  animation: fadeInBackground 1.5s ease-out forwards; /* Добавляем анимацию */
}

.main-title {
  font-size: 7rem;
  margin: 0;
  position: relative;
  font-weight: 400;
  opacity: 0;
  animation: fadeInText 1s ease-out 0.5s forwards; /* Задержка 0.5s для анимации */
}

.main-title-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.works-button {
  font-size: 2.6rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  position: relative;
  top: 150px;
  left: 30px;
  opacity: 0;
  animation: fadeInButton 1s ease-out 1s forwards; /* Задержка 1s для анимации */
}

.works-button:hover {
  color: #8b8585;
}

/* Адаптивность */
@media (max-width: 768px) {
  .main-title {
      font-size: 4.8rem;
  }

  .works-button {
      font-size: 2.7rem;
      padding: 8px 16px;
      top: 150px;
      left: 20px;
  }

  .nav-link {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main-title {
      font-size: 3rem;
  }

  .works-button {
      font-size: 2.5rem;
      padding: 6px 12px;
      top: 150px;
      left: 10px;
  }

  .navbar {
      gap: 10px;
  }
}
