@font-face {
  font-family: 'Ami-Regular';
  src: url('../fonts/Ami-Regular.woff2') format('woff2'),
       url('../fonts/Ami-Regular.woff') format('woff'),
       url('../fonts/Ami-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* Общие стили */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Ami-Regular', sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Контейнер с фото */
.photo-container {
  position: relative;
  max-width: 100%;
  background-color: #000;
}

.main-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Топ-меню */
.top-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  flex-direction: column;
}

.menu-link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Плавное изменение цвета и подчеркивания */
}

.menu-link:hover {

  color: #8b8585; /* Цвет при наведении */
}

/* Заголовок "Biography" */
.vertical-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
}

/* Основной контент */
.main-content {
  background-color: #e60000;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.page-title {
  margin: 0;
  font-size: 5rem;
  text-align: center;
  margin-top: 80px;
  font-weight: 400;
}

/* Красный блок с текстом */
.red-block {
  max-width: 90%;
  width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: justify;
  padding: 20px;
  background-color: #e60000;
  border-radius: 10px;
 
}

/* Footer */
.footer {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
}

.footer .contact-info .contact-title {
  font-size: 2.5rem;

  font-weight: 400;
}

.footer .contact-info .email-text {
  font-size: 1.5rem;
}

.footer .contact-info .instagram-link {
  display: inline-block;
  margin: 10px 0;
  font-size: 2.5rem;
  color: #e60000;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 400;
}

.footer .contact-info .instagram-link:hover {
  background-color: #e60000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Анимации */
.main-photo {
  transition: transform 0.7s ease;
}

.main-content {
  animation: slide-up 1s ease forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Адаптивность */
@media (max-width: 500px) {
  .top-menu {
    justify-content: center;
    gap: 10px;
    top: 10px;
    right: 0;
  }

  .menu-link {
    font-size: 0.8rem;
  }

  .vertical-text {
    font-size: 3rem;
    top: -30px;
    left: 10px;
  }

  .red-block {
    font-size: 1.2rem;
    padding: 15px;
  }

  .page-title {
    font-size: 2rem;
    margin-top: 30px;
  }

  .main-content {
    padding: 50px 20px;
  }
}